
    <!--#include virtual="/header.xhtml" -->

    <!--#include virtual="/menu.xhtml" -->

    <div id="main">
      <h1>Introduction</h1>
      <p>
        The goal of this machine is to provide an infrastructure for 
        unofficial architectures until they are integrated in the main 
        Debian archive. This way porters could spend their time porting
        packages instead of fighting with the infrastructure.
      </p>

      <h1>News</h1>
     
      <!--#include virtual="/news.xhtml" -->

    </div>
    <!--#include virtual="/footer.xhtml" -->
