    <div id="menu">
      <div class="bl"><div class="br"><div class="tl"><div class="tr">
        <div class="title"><a href="/">Home</a></div>
        <div class="title"><a href="/archive">Archive</a></div>
        <div class="links">
          <ul>
            <li><a href="https://cdimage.debian.org/cdimage/ports/">CD images</a></li>
            <li><a href="http://incoming.ports.debian.org/">Incoming</a></li>
            <li><a href="/mirrors">Mirrors</a></li>
            <li><a href="http://ftp.ports.debian.org">Packages</a></li>
          </ul>
        </div>
        <div class="title">Wanna-build</div>
        <div class="links">
          <ul>
            <li><a href="https://buildd.debian.org/">Build logs</a></li>
            <li><a href="https://buildd.debian.org/stats/">Build statistics</a></li>
          </ul>
        </div>
        <div class="title">Hosted architectures</div>
        <div class="links">
          <ul>
            <li><a href="https://www.debian.org/ports/alpha/">alpha</a></li>
            <li><a href="https://www.debian.org/ports/hurd/">hurd-i386</a></li>
            <li><a href="https://www.debian.org/ports/hppa/">hppa</a></li>
            <li><a href="https://wiki.debian.org/Ports/ia64">ia64</a></li>
            <li><a href="https://www.debian.org/ports/kfreebsd-gnu/">kfreebsd-amd64</a></li>
            <li><a href="https://www.debian.org/ports/kfreebsd-gnu/">kfreebsd-i386</a></li>
            <li><a href="https://wiki.debian.org/Ports/loong64">loong64</a></li>
            <li><a href="https://www.debian.org/ports/m68k/">m68k</a></li>
            <li><a href="https://wiki.debian.org/PPC64">ppc64</a></li>
            <li><a href="https://www.debian.org/ports/powerpc/">powerpc</a></li>
            <li><a href="https://wiki.debian.org/RISC-V">riscv64</a></li>
            <li><a href="https://wiki.debian.org/SH4">sh4</a></li>
            <li><a href="https://wiki.debian.org/Sparc64">sparc64</a></li>
            <li><a href="https://wiki.debian.org/X32Port">x32</a></li>
          </ul>
        </div>
        <div class="title">Miscellaneous</div>
        <div class="links">
          <ul>
            <li><a href="https://salsa.debian.org/debian-ports-team">Git</a></li>
            <li><a href="/contacts">Contacts</a></li>
          </ul>
        </div>
        <div class="logos">
          <a href="http://validator.w3.org/check/referer"><img src="images/valid-xhtml11.png" alt="Valid XHTML 1.1" height="31" width="88" /></a>
          <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="images/vcss.gif" alt="Valid CSS " height="31" width="88" /></a>
        </div>

      </div></div></div></div>
      <div class="clear">&nbsp;</div>
    </div>
